.container {
  display: flex;
  align-items: center;
}

.avatar {
  height: 49px;
  width: 49px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.avatar + strong {
  margin-left: 8px;
}
